= gmaps4rails(@json)

#popup-form{:style => "display:none"}
  %div{:class => "popup ui-widget"}
    = form_for @point, :remote => true do |f|
      %header
        .coordinates  
          %div.latitude
          %div.longitude
        .address
          %h5.address
      %section
        = f.hidden_field :latitude
        = f.hidden_field :longitude
        = f.hidden_field :address
         
        .control-group
          .controls
            .pholder
              #def_text
                Add tags  
            %input{:type => "text", :name => 'point[tag][]', :value => "", :class => "tag"}
        .control-group
          = f.label :comments
          .controls
            = f.text_area :description ,:rows => 4, :cols => 50, :style => "width: 482px; height: 95px;resize: none;"
      .pos      
        %button{:class => 'btn btn-primary', :onclick => 'validate_form()', :disabled => "disabled" }
          Create Point


