= gmaps4rails(@json)
- content_for :scripts do
  -#%script{:type=>"text/javascript", :charset=>"utf-8"}
    var markersArray = [];
    Gmaps.map.callback = function() {google.maps.event.addListener(Gmaps.map.serviceObject,'click',function(event) {
    alert(event.latLng);
    });
    };

#popup-form{:style => "display:none"}
  .popup
    = form_for @point do |f|
      %header
        %h4.address
      %section
        = f.hidden_field :latitude
        = f.hidden_field :longitude
        = f.hidden_field :address
        %p
          = f.label :description
          = f.text_field :description
      %button{:class => 'btn btn-primary'}
        Create Point